.gridcontainer {
 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr 2.8fr;
    gap: 5px 5px;
    grid-template-areas:
      "NameMesa"
      "NameCliente"
      "seguimiento"
      "pedido";
  }
  
  .NameMesa { grid-area: NameMesa; }
  
  .NameCliente { grid-area: NameCliente; }
  
  .seguimiento { grid-area: seguimiento; }
  
  .pedido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "nameProducto cantidad precio Seguimiento";
    grid-area: pedido;
  }
  
  .nameProducto { grid-area: nameProducto;  }
  
  .cantidad { grid-area: cantidad;  }
  
  .precio { grid-area: precio; }
  
  .e{
    margin-bottom: 20px;
  }
  .ee{
    margin-bottom: 20px;
  }
  .el{
    padding: 40px;
  }
  .cerrarMesa{
    text-align: center;
    
    
  }

  .body_aviso{
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.80);
    display: flex;
    justify-content: center;
    
}

.container_aviso{
    position: relative;
    top:150px;
    width: 350px;
    height: 265px;
    padding:8px 5px 5px 5px;
    background-color: whitesmoke;
    border-radius: 20px;
}

#boton_cerrar{
    margin-top: 5px;
    
}