.cardContainer {
  border: 1px solid rgba(0, 0, 0, 0.125);
  height: 211px;
  width: 290px;
  margin: 16px;
  border-radius: 20px;
  max-width: 284px;
  display: block;
}
.divImg{
  display:flex;
  justify-content: center;
}
.divName {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
}
.h5Card {
  margin: 5px;
}

.divBotones {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  justify-content: space-evenly;

}

.boton {
  margin: 0;
  border: rgba(0, 0, 0, 0.125);
}
.link {
  display: flex;
  margin: 0;
  justify-content: center;

  text-decoration: none;
}
.link a {
  text-decoration: none;
}
