.ticket{
    
    width: 300px;
    font-size: 12px;
    font-family: 'Times New Roman';
}

.ticket_header{
    display:grid;
    grid-template-columns: 1fr 4fr 2fr auto;
    grid-auto-flow: column;
    column-gap: 4px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    justify-items: center;
}

.ticket_items{
    display:grid;
    grid-template-columns: 1fr 4fr 2fr auto;
    grid-auto-flow: column;
    column-gap: 4px;
        
}
.ticket_body{
    border-bottom: 2px solid black; 
    
}

#item_cantidad{
    justify-self: center;
}

#item_precio{
    justify-self:grid-end;
}

#total_ticket{
    position:absolute;
    left: 190px;
    margin-bottom:30px
    
   
}



