.grid-container {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    grid-template-rows: 50px 30px 60px 100px 80px 80px 50px 50px 50px;
    gap: 10px 10px;
    grid-template-areas:
      "nav nav nav"
      "subNav subNav subNav"
      "producto producto categoria"
      "precio peso marca"
      "descripcion descripcion imagen"
      "descripcion descripcion imagen"
      "submit submit submit"
      "goBack goBack goBack"
      "footer footer footer";
  }
  
  .nav { grid-area: nav; }
  .subNav { grid-area: subNav; }
  .producto { grid-area: producto; }
  .categoria { grid-area: categoria; }
  .precio { grid-area: precio; }
  .peso { grid-area: peso; }
  .marca { grid-area: marca; }
  .footer { grid-area: footer; }
  .goBack { grid-area: goBack; }
  .submit { grid-area: submit; }
  .descripcion { grid-area: descripcion; }
  .imagen { grid-area: imagen; }

  

  .grid-container {
    height: 440px;
    overflow-y: auto;
  }

  .grid-container h3 {
    margin: 0;
  }

  .grid-container p{
      margin: 0 !important;
      font-size: xx-small;
      color: #581515;
      width: fit-content;
  }