.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-template-areas:
      "before product after";
  }
  
  .before { grid-area: before; }
  .after { grid-area: after; }
  .product { grid-area: product; }
  
  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }