.producDetailAll {
    display: grid;
    grid-template-columns: 0.5fr 0.9fr 0.9fr 0.9fr;
    grid-template-rows: 0.5fr 0.2fr 0.5fr 1.5fr 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      "nav nav nav nav"
      "subNav subNav subNav subNav"
      "name name eliminar actualizar"
      "imagen imagen form form"
      "imagen imagen form form"
      "footer footer footer footer";
  }
  
  .nav { grid-area: nav; }  
  .subNav { grid-area: subNav; }
  .name { grid-area: name; }
  .eliminar { grid-area: eliminar; }
  .actualizar { grid-area: actualizar; }
  .imagen { grid-area: imagen; }

  .formProduct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 0.8fr 1.8fr 0.6fr;
    gap: 0px 0px;
    grid-template-areas:
      "producto producto categoria"
      "precio peso marca"
      "descripcion descripcion inputImagen"
      "actualizarBoton actualizarBoton actualizarBoton";
    grid-area: form;
  }

  .producto { grid-area: producto; }
  .categoria { grid-area: categoria; }
  .precio { grid-area: precio; }
  .peso { grid-area: peso; }
  .marca { grid-area: marca; }
  .descripcion { grid-area: descripcion; }
  .inputImagen { grid-area: inputImagen; }
  .actualizarBoton { grid-area: actualizarBoton; }  
  .footer { grid-area: footer; }
  