.cardContainer {
  border: 1px solid rgba(0, 0, 0, 0.125);
  height: 120px; /* Si le achicas esto no entra el nombre */
  width: 200px;
  margin: 5px;
  border-radius: 6px;
  max-width: 200px;
}

.divName {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.03);
  justify-content: center;
}
.h5Card {
  margin: 5px;
}

.divBotones {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.boton {
  margin: 0;
  border: rgba(0, 0, 0, 0.125);
}
.link {
  display: flex;
  margin: 0;
  justify-content: center;

  text-decoration: none;
}
.link a {
  text-decoration: none;
}
