.gridContainer {
  display: flex;
  flex-direction: column;

  height: 90vh;
}
.titulo {
  display: flex;
  width: 100%;
  height: 70px;
  margin: 0px auto;
  align-items: center;
  justify-content: space-between;
}
.titulo h2 {
  display: inline-block;
  margin-left: 50px;
}
.boton {
  height: 25px;
  margin-right: 50px;
}
.cardsDiv {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
}
.imagen {
  grid-area: imagen;
 
}
.tituloCambio {
  display: flex;
  width: 100%;
  height: 70px;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
}
.botonCambio {
  height: 25px;
  margin-right: 50px;
}
/* aca esta lo que copie y pegue */
/* .gridContainer {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1.3fr 0.4fr;
  grid-template-rows: 0.3fr 0.4fr 2.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo . ."
    "AutorizaMesa AutorizaMesa . ."
    "Mesas Mesas Detalle Detalle";
}
.logo {
  grid-area: logo;
}
.rueda {
  grid-area: rueda;
}
.logOut {
  grid-area: logOut;
}
.AutorizaMesa {
  grid-area: AutorizaMesa;
}
.Mesas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
  grid-area: Mesas;
}
.Detalle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr;
  gap: 0px 0px;
  grid-template-areas: ".";
  grid-area: Detalle;
} */
