.titulo1{
  margin: 28px;
}
selectorBotones{
  display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: flex-start;
      border: solid 7px black;
      flex-direction: column;
      justify-content: space-evenly;
}

.gridContainer {
  display: grid;
  grid-template-columns: 0.6fr 1.8fr;
  grid-template-rows: 0.7fr 2.7fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "LogoTitulo LogoTitulo"
    "navBar display"
    "pieDePagina pieDePagina";
}
.LogoTitulo { grid-area: LogoTitulo; }
.navBar { grid-area: navBar; }
.display { grid-area: display; }
.pieDePagina { grid-area: pieDePagina; }